<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" >
</head>
<body>
    <h1>Liste des Produits</h1>
    <ul>
        {% for produit in produits %}
            <li>
                <strong>{{ produit.nom }}</strong><br>
                Description: {{ produit.description }}<br>
                Prix: {{ produit.prix }} €<br>
                Quantité: {{ produit.quantite }}
            </li>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>
